.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-inline: auto;
    width: 100%;
    max-width: 480px;

    .txt-side{
        text-align: center;
        color: var(--main);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3px;
        width: 100%;

        h2{
            font-size: clamp(1.250em, calc(1.000em + 0.833vw), 1.750em);
        }

        p{
            font-size: var(--font-light);
        }
    }

    .login-tabs{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        border-bottom: 1px solid var(--border-dark);

        button{
            font-size: var(--font-light);
            color: var(--main-gray);
            width: 100%;
            padding-top: 0.5rem;
            padding-bottom: 1rem;

            &.active{
                color: var(--main);
                border-bottom: 1px solid var(--main);
            }
        }
    }

    form{
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 1rem;

        &.loading {
            pointer-events: none;
            opacity: 0.7;
        }

        .form-part{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 3px;
            width: 100%;

            label{
                color: var(--main);
                font-size: 0.875em;
            }

            input{
                color: var(--main);
                font-size: 0.875em;
                border: 1px solid var(--border-dark);
                border-radius: 20px;
                padding: 10px;
                outline: none;
                width: 100%;
            }

            .passwd{
                width: 100%;
                display: flex;
                align-items: center;
                gap: 2px;
                position: relative;

                input{
                    padding-right: 40px;
                    flex: 1;
                }

                .eye{
                    position: absolute;
                    right: 10px;
                    flex-shrink: 0;
                    cursor: pointer;
                    opacity: 0.6;

                    img{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }

        .check-email{
            font-size: 0.875em;
            color: #16a34a;
            margin-inline: auto;
        }

        .error{
            color: var(--main-red);
            font-size: 0.875em;
            margin-inline: auto;
        }

        .btn-main{
            width: 100%;
            margin-top: 1rem;
            background-color: #030213;
            color: var(--main-light);
            border-radius: 20px;
            padding: 10px;
        }

        .forgot-password{
            display: block;
            margin-inline: auto;
            color: rgb(46, 46, 244);
            font-size: 0.875em;
            font-style: italic;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

@media (max-width: 480px) {
    .login{
        padding: 0;
        border: none;
    }
}